<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laba.solvd.Species.persistence.CharacteristicRepository">
    <insert id="createCharacteristic">
        INSERT INTO characteristics (id, name, category) VALUES (#{id}, #{name}, #{category})
    </insert>
    <update id="updateCharacteristic">
        UPDATE characteristics SET name = #{name}, category = #{category} WHERE id = #{id}
    </update>
    <select id="findByCategoryCharacteristic" resultType="com.laba.solvd.Species.domain.Characteristic">
        SELECT id, name, category FROM characteristics WHERE category = #{category}
    </select>
    <select id="findByIDCharacteristic" resultType="com.laba.solvd.Species.domain.Characteristic">
        SELECT id, name, category FROM characteristics WHERE id = #{id}
    </select>
    <delete id="deleteByIDCharacteristic">
        DELETE FROM characteristics WHERE id = #{id}
    </delete>
</mapper>