<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laba.solvd.Species.persistence.ReferenceRepository">
    <insert id="createReference">
        INSERT INTO references (title, author, date) VALUES (#{title}, #{author}, #{date})
    </insert>
    <select id="findByIDReference" resultType="com.laba.solvd.Species.domain.Reference">
        SELECT id, title, author, year FROM references WHERE id = #{id}
    </select>
</mapper>