<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laba.solvd.Species.persistence.SpeciesRepository">
    <insert id="createSpecies">
        INSERT INTO species (common_name, scientific_name, conservation_statuses_id, families_id) VALUES (#{commonName}, #{scientificName}, #{conservationStatus.id}, #{family.id})
    </insert>
    <update id="updateSpecies">
        UPDATE species SET common_name = #{commonName}, scientific_name = #{scientificName}, conservation_statuses_id = #{conservationStatus.id}, families_id = #{family.id} WHERE id = #{id}
    </update>
    <select id="findAllSpecies" resultType="com.laba.solvd.Species.persistence.SpeciesRepository">
        SELECT id, common_name, scientific_name FROM species;
    </select>
    <select id="findByIDSpecies" resultType="com.laba.solvd.Species.domain.Species">
        SELECT id, common_name, scientific_name FROM species WHERE id = #{id}
    </select>
    <delete id="deleteByIDSpecies">
        DELETE FROM species WHERE id = #{id}
    </delete>
    <update id="setCharacteristic" parameterType="map">
        INSERT INTO species_characteristics (species_id, characteristic_id) VALUES (#{species.id}, #{characteristic.id})
    </update>
    <update id="setConservationStatus" parameterType="map">
        UPDATE species SET conservation_statuses_id = #{conservationStatus.id} where id = #{species.id}
    </update>
</mapper>